<div class="banner-main-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292530/ferdinand-stohr-WuUk3MCdQOI-unsplash_ppvass.jpg')">
    <div class="row">
      <div class="col-12 col-md-4 offset sign-up-form">
        <div class="bg-transparent p-3 shadow">
          <h3>Create a new fight</h3>
          <%= simple_form_for @location do |f| %>
            <%= f.input :name, placeholder: "fight name" %>
            <%= f.input :location, placeholder: "location" %>
            <%= f.input :starts_at, input_html: { class: "range_start" } %>
            <%= f.input :ends_at, input_html: { class: "range_end" } %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, placeholder: "download photos" %>
            <%= f.submit "Let's fight", class: "btn btn-danger" %>
            <%= link_to 'back to locations', locations_path, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
</div>

