<div class="banner main-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292532/yael-gonzalez-vdbOJuueLpU-unsplash_uxv8a4.jpg')">
    <div class="col-12 col-sm-6">
      <h2>Your fight informations</h2>
      <hr>
      <div class="container">
      <div class="row">
        <h6><%= @location.name %></h6>
      </div>
        <h6><%= @location.location %></h6>
        <h6><%= @location.starts_at %></h6>
        <%= @location.photos.count %>
        <% if @location.photos.attached?%>
        <h6><%=cl_image_tag @location.photos.first.key, class: "image-show" %></h6>
        <%end %>


      </div>
    </div>
  </div>

<style>
.image-show {
  width: 350px;
}
</style>
