<div class="banner-main-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292532/yael-gonzalez-vdbOJuueLpU-unsplash_uxv8a4.jpg')">
  <h2 class="text-white mt-5 ml-5">Your fight informations</h2>
  <div class="card-trip p-5 mx-auto my-5 w-50">
    <% if @location.photos.attached? %>
      <%= cl_image_tag @location.photos.first.key, class: "image-show" %>
      <% end %>
    <div class="card-trip-infos">
      <div class="w-100">
        <div class="d-flex justify-content-between">
        <div><h2>Fight name</h2>
        <p><%= @location.name %></p>
        <h2>Fight place</h2>
        <p><%= @location.location %></p>
        <p><%= @location.starts_at %></p>
        <h2>Skills</h2>
        <p><%= current_user.pseudo %></p></div>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-border2" %>
            <% end %>

        </div>

        <h2>Bio</h2>
        <p><%= current_user.bio %></p>
        <%= simple_form_for [@location, @fight] do |f| %>
          <%= f.input :fight_date, input_html: {  id: "range_start" } %>
          <div class="d-flex flex-row justify-content-between">
          <%= f.submit "Let's fight", class: "btn btn-danger", data: { confirm: "Are you sure you want to fight lil dickhead ?"} %>
        <% end %>
        <%= link_to 'back to locations', locations_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>














